@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap&family=Lobster&display=swap&family=Playfair+Display+SC&display=swap&family=Playfair+Display:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root{
    --text-color: black;
    --body-color: #F0F8FF;
    --accent-color: #B6C9FF;
    --contrast-text-color: #3E3DFF;
    --hover-color: 	#252498;
    --text-color-light: hsl(204, 3%, 34%);
    
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lobster', sans-serif;
    --recipe-title: 'Playfair Display SC', sans-serif;
    --smaller-titles-font: 'Playfair Display', sans-serif;

    --font-medium: 500;
    --font-semi-bold: 600;

    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
}

.subtitle{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
    color: var(--text-color-light);
}

.container{
    margin-inline: 1.5rem;
}

/* ######################## HEADER ###################*/
.header{
    padding: 15px;
    /* background-color: var(--accent-color); */
    background: url(./images/pattern-header.jpg);
    background-size: 300px;
}

.header_list{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

.header_socials-login{
    display: flex;
    align-items: center;
    column-gap: .75rem;
}

.header_link,
.header_item{
    color: var(--contrast-text-color);
    transition: color .3s;
}

.header_link i,
.header_item i{
    font-size: 1.95rem;
    font-weight: 500;
    cursor: pointer;
}

.header_link i:hover,
.header_item i:hover{
 color: var(--hover-color);
}

.login-btn{
    padding: 10px 25px;
    background-color: var(--contrast-text-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    border: none;
    display: block;
    cursor: pointer;
}

.login-btn:hover {
    background-color: var(--hover-color);
}

/* ######################## LOGIN ###################*/
.login-pop{
    /* position: relative; */
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;    
    /* z-index: 2; */
}

.wrapper{
    position: absolute;
    width: 360px;
    top: 25%;
    height: 430px;
    /* background: rgba(54, 25, 25, .00004); */
    background-color: var(--body-color);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    /* backdrop-filter: blur(20px); */
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    transform: scale(0);    
    transition: transform .5s ease, height 1s;
    z-index: 20;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_box{
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.input_box input{
    border: none;
    width: 90%;
    background-color: var(--body-color);
    margin-bottom: 5px;
    outline: none;
}

.input_box i{
    font-size: 18px;
    font-weight: 500;
}

#pas-vis:hover{
    cursor: pointer;
    color: var(--contrast-text-color);
}

.forgotten_remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.input{
    fill: none;
    background: transparent !important;
}

input[type = checkbox]{
    accent-color: var(--contrast-text-color);
}

.forgotten_remember label{
    display: flex;
    align-items: center;
    gap: 2px;
}

.submit{
    border: none;
    background-color: var(--accent-color);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    align-self: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color .3s;
}

.submit:hover{
    background-color: var(--contrast-text-color);
}

.alternative_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.alternative_buttons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fb_btn,
.gmail_btn{
    padding: 5px 20px;
    border: 2px solid;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    font-size: var(--small-font-size);
}

.fb_btn{
    color: #316FF6;
}

.gmail_btn{
    color: #be8f01;
}

.gmail_btn:hover,
.fb_btn:hover{
    background: hsl(0, 9%, 94%);
}

.register{
    align-self: center;
    font-size: var(--small-font-size);
}

.register_link{
    color: var(--contrast-text-color);
    transition: color, border-bottom .1s;
}

.register_link:hover{
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}

.wrapper .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--accent-color);
    font-size: 2em;
    color: var(--contrast-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: background-color .5s;
}

.close:hover{
    background-color: var(--contrast-text-color);
    color: var(--accent-color);
}

/* LOGIN JS */
.active{
    transform: scale(1);
}

.changed{
    border-bottom: 2px solid var(--contrast-text-color);
}

/* ######################## LOGO AND NAVIGATION ###################*/
.logo_nav{
    margin-bottom: 40px;
}

.title{
    font-family: var(--title-font);
    font-size: 5rem;
    color: var(--contrast-text-color);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.nav{
    display: flex;
    justify-content: center;
}

.navigation_list{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.nav-item_l{
    position: relative;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: color .3s;
}

.nav-item_l:hover{
    color: var(--contrast-text-color) !important;
}

.nav-item_l:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: var(--contrast-text-color);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.nav-item_l:hover:after{
    transform: scaleX(1);
    transform-origin: center;
}

/* ######################## CAROUSEL ###################*/
/* .carousel{
    width: 100%;
    height: 40%;
    aspect-ratio: 1 /1;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0 auto;
} */

.carousel-inner{
    position: relative;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    transition: all 1s;
    /* width: 100%; */
    /* max-width: 80%; */
    /* transition: transform 1s; */
    /* width: 100%; */
    /* height: 40%; */
    /* opacity: 0; */
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center; 
}

/* .slide[data-active]{
    opacity: 1;
} */

.carousel-btn{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    color: rgba(255, 255, 255, .5);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
}

.carousel-btn:hover{   
    color: white;
}

.carousel-btn.prev{
    left: 1rem;
}

.carousel-btn.next{
    right: 1rem;
}


.carousel_text{
    position: absolute;
    width: 30%;
    color: white;
    font-family: var(--recipe-title);
    font-size: var(--biggest-font-size);
    text-transform: uppercase;
}

.slide-1{
    top: 73%;
    left: 5%;
}

.slide-2{
    top: 70%;
    left: 2%;
}

.slide-3{
    top: 70%;
    left: 5%;
}

.slide-4{
    top: 73%;
    left: 5%;
}

.slide-5{
    top: 73%;
    left: 5%;
}

/* ######################## CATEGORIES ###################*/
.categories{
    margin-top: 50px;
    margin-bottom: 50px;
}

.categories-title{
    font-family: var(--smaller-titles-font);
    font-size: var(--h1-font-size);
    text-transform: capitalize;
}

.rows{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.figure_categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: color .3s;
}

.inner_img{
    width: 160px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.figure_categories:hover{
    color: var(--contrast-text-color);
}

.inner_img > img{
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
}

.inner_img > img:hover{
    transform: scale(1.1);
}

.fig_text{
 font-family: var(--body-font);
 font-weight: 600;
}

/* ######################## RECIPES ###################*/
/* stars rating*/
.comment_container{
    display: inline-block;
    margin-bottom: 20px;
    /* padding: 0 10px; */
}

.rating_container{
    display: flex;
    flex-direction: row-reverse;
}

.rating_container span{
    cursor: pointer;
    transition: color .2s, transform .2s;
    font-size: 20px;
}

.rating_container span:hover{
    color: orange;
    transform: scale(1.3);
}

.rating_container span:hover ~ span{
    color: orange;
}

.rating_container span[data-clicked]{
    color: orange;
}

.rating_container span[data-clicked] ~ span{
    color: orange;
}

/* recipe container */
.top_recipes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    display: none;
}

.recipes_section-title{
    font-family: var(--smaller-titles-font);
    font-size: var(--h2-font-size);
    text-transform: capitalize;
    margin-left: 115px;
    margin-bottom: 20px;
}

.recipes_container{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
    gap: 30px;
}

.recipe_box{
    border: 1px solid #D8D8D8;
    border-radius: 5%;
}

.figure_recipe{
    margin: -2px -1px 0 -1px;
}

/* images of the recipes */
.recipe_img{
    overflow: hidden;
    border-radius: 5% 5% 0 0;
}

.recipe_img-link img{
    width: 310px;
    height: 250px;
    margin: auto;
    object-fit: cover;
    object-position: center; 
    transition: transform .3s ease-in-out;
}

.recipe_img-link img:hover{
    transform: scale(1.1);
}

/* figcaption positioning */
.fig_text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 0;
    padding: 0 10px;
}

.recipe_title{
    margin: 10px 0;
}

.recipe_title a{
    font-family: var(--body-font);
    font-size: var(--h3-font-size);
    cursor: auto;
    color: black;
}

.recipe_author{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.avatar{
    width: 10%;
    border-radius: 50%;
}

small{
    color: var(--text-color-light);
}

.details{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.date,
.comments{
    display: flex;
    align-items: center;
    gap: 5px;
}